<p class = "title">Отзыв о первом занятии:</p>
<p class = "review">Первое занятие было хоть и очень длинным, но и очень полезным. Особенно мне понравилось, что озвученная теория сразу же применялась на практике. Также интерактивность со всеми участниками курса добавляет обучению живости.</p>

<p class = "title">Что можно улучшить:</p>
<div class = "improvements">
  <ol>
    <li>Не просить каждого человека называть следующего демонстрирующего экран, а сохранять ротацию по списку, что сократит время занятия.</li>
    <li>Передвинуть время начала занятия на 10 часов, чтобы все высыпались после будних дней.</li>
  </ol>
 </div>